# Add a comment to force a change.

name: Authtool CI

on:
  push:
    branches:
      - master
      - release/v*
    paths-ignore:
      - '.gitignore'
      - 'CODEOWNERS'
      - 'LICENSE'
  pull_request:
    paths-ignore:
      - '.gitignore'
      - 'CODEOWNERS'
      - 'LICENSE'
  workflow_dispatch:

permissions:
  contents: read

env:
  OAUTH_TOKEN: ${{ secrets.RD_ONLY_GH_TOKEN }}

jobs:
  build:
    name: CI
    runs-on: ubuntu-latest
    steps:
      - name : Checkout repository
        # https://github.com/actions/checkout/releases/tag/v4.1.1
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup Go
        # https://github.com/actions/setup-go/releases/tag/v5.0.0
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: 'go.mod'

      - name: ci
        run: make ci
