name: release

on:
  push:
    tags:
      - v*
  workflow_dispatch:

permissions:
  contents: write

env:
  OAUTH_TOKEN: ${{ secrets.RD_ONLY_GH_TOKEN }}

jobs:
  release:
    name: build and release
    runs-on: ubuntu-latest
    steps:

      - name : Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: 'go.mod'

      - name: Build
        run: |
          ./scripts/build
          mkdir -p dist/artifacts
          cp bin/authtool dist/artifacts/authtool

      - name: Generate checksum files
        run: |
          ls -lR dist
          cd dist/artifacts
          sha256sum authtool > sha256sum.txt

      - name: Get the version
        run: |
          source ./scripts/version
          echo "TAG=$(echo $TAG | sed 's/-amd64$//')" >> $GITHUB_ENV

      - name: Upload the files
        run: |
          ls -lR dist
          cd dist/artifacts
          gh --repo "${{ github.repository }}" release create ${{ github.ref_name }} --prerelease --verify-tag --generate-notes authtool sha256sum.txt
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
